<div class="login-container">
  <div class="login-box">
    <div class="logo-container">
      <img src="/assets/images/Logo.png" alt="Company logo with text 'PM EXPRESS 2021 CA'" />
    </div>
    <form [formGroup]="loginForm" class="form-container">
      <label for="username">Usuario (cédula)</label>
      <div class="input-container">
        <mat-icon class="input-icon">person</mat-icon>
        <mat-form-field appearance="outline" class="full-width mat-form-field-appearance-outline">
          <input matInput type="number" formControlName="username" id="username" />
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <label for="password">Contraseña</label>
      <div class="input-container">
        <mat-icon class="input-icon">lock</mat-icon>
        <mat-form-field appearance="outline" class="full-width mat-form-field-appearance-outline">
          <input 
            matInput 
            [type]="hide ? 'password' : 'text'" 
            [formControlName]="'password'" 
            id="password" 
            #passwordField />
          <button 
            mat-icon-button 
            type="button" 
            (click)="togglePasswordVisibility()" 
            matSuffix >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </div>
      <div class="forgot-password">
        <a (click)="forgotPassword()">¿Olvidó su Contraseña?</a>
      </div>
      <div class="login-button">
        <button 
          mat-raised-button 
          color="primary" 
          (click)="onSubmit()" 
          [disabled]="isLoading || loginForm.invalid">
          <ng-container *ngIf="!isLoading">
            Ingresar
          </ng-container>
          <ng-container *ngIf="isLoading">
            <mat-progress-spinner 
            [diameter]="24" 
            mode="indeterminate"
            class="white-spinner"> >
            </mat-progress-spinner>
          </ng-container>
        </button>
      </div>
      
      <div class="register-link">
        <a (click)="signUp()">¡Regístrate Aquí!</a>
      </div>
    </form>
  </div>
</div>