<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="over"
    [opened]="sidenavOpen"
    (openedChange)="onSidenavChange($event)"
  >
    <nav class="nav-links-side">
      <a (click)="home()">Inicio</a>
      <a (click)="cargaFamiliar()">Carga Familiar</a>
      <a (click)="reembolso()">Reembolso</a>
      <a (click)="cartaAval()">Carta Aval</a>
    </nav>
  </mat-sidenav>
  <mat-sidenav-content [class.blurred]="sidenavOpen" (click)="closeSidenav($event)" class="main-sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>